<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="robots" content="none" />
  <title>BillingService</title>  
  <meta name="description" content="Tout savoir sur la Permaculture, bien débuter, apprendre à semer, choisir ses produits et savourer ses propres légumes. Cultiver n'a jamais été aussi facile !">

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-sm bg-success fixed-top">
      <div class="collapse navbar-collapse">
        <a href="blog.html" class="nav-item nav-link">Blog</a>
        <a href="boutique.html" class="nav-item nav-link">Boutique</a>
        <a href="contact.html" class="nav-item nav-link">Contact</a>
      </div>
    </nav>
    <h1>Comment ça marche ?</h1>
</header>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="leftPart">

        <h2>Un logiciel vous permettant d'effectuer votre travail plus facilement</h2>
 </html>